/*-----first rules-----*/
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Sans-serif;
}

/*-----general-----*/
footer,
header,
nav {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

header {
    position: fixed;
    width: 100%;
    z-index: 999;
}

/*-----navbar-----*/
nav {
    background-color: #d6d6d6;
    flex-direction: column;
    height: 100px;
    position: sticky;
    top: 74px;
    z-index: 999;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    height: 100%;
}

nav li {
    display: inline-block;
    padding: 0 100px;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: #ff6500;
}

/*-----main-----*/
.hero {
  background-color: #333333;
}


.chip {
    display: inline-block;
    border: 2px solid #ff6666;
    border-radius: 20px;
    background-color: #f5f5f5;
    color: #333;
    font-size: 14px;
    padding: 8px 16px;
    margin: 8px;
}

.chips-container {
    display: flex;
}

.chip {
    background-color: #eee;
    padding: 10px;
    margin-right: 10px;
}

/*-----button-----*/
button {
    width: 214px;
    height: 60px;
    border-radius: 10px;
    background-color: #ff6500;
    color: white;
    border: none;
}

/*-----footer-----*/
footer {
    background-image: url("../img/background_liquid.png");
    background-size: contain;
    background-position: center;
    color: #fff;
    background-color: #fff;
    text-align: center;
    height: 500px;
    padding: 300px 0 0;
}

/*-----text-----*/
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 36px;
}

button,
h4 {
    font-size: 24px;
    font-weight: bolder;
}

p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
