/*-----first rules-----*/
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Sans-serif;
}

/*-----general-----*/
footer,
header,
nav {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

header {
    position: fixed;
    width: 100%;
    z-index: 999;
}

/*-----navbar-----*/
nav {
    background-color: #d6d6d6;
    flex-direction: column;
    height: 100px;
    position: sticky;
    top: 74px;
    z-index: 999;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    height: 100%;
}

nav li {
    display: inline-block;
    padding: 0 100px;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: #ff6500;
}

/*-----main - hero-----*/
.hero {
    background-color: #333333;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 100px 300px;
}

.hero img {
    flex: 1;
    max-width: 50%;
}

.hero-content {
    flex: 1;
    padding: 0 20px;
}

/*-----main - chips-----*/
.chips-container {
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 300px 0;
  }
  
  .chip {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  .chip img {
    max-width: 100%;
  }
  
  .chip h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .chip p {
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  


/*-----button-----*/
button {
    width: 214px;
    height: 60px;
    border-radius: 10px;
    background-color: #ff6500;
    color: #ffffff;
    border: none;
}

button a {
    text-decoration: none;
    color: #ffffff;
  }

/*-----footer-----*/
footer {
    background-image: url("../img/background_liquid.png");
    background-size: contain;
    background-position: center;
    color: #fff;
    background-color: #fff;
    text-align: center;
    height: 500px;
    padding: 300px 0 0;
}

/*-----text-----*/
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 36px;
}

button,
h4 {
    font-size: 24px;
    font-weight: bolder;
}

p {
    font-size: 18px;
    line-height: 27px;
    font-family: Arial, Helvetica, sans-serif;
}
